*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container { 
    margin: 30px;


}
.container .card-group {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
    gap: 20px;
 } 
.container .card-group .card-img {
    width: 300px;
 } 
.container .card-group .card-container {
    position: relative;

 } 

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  

/* fade card  */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .card-container:hover .overlay {
    opacity: 1;
  }
  
 .car-1 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card-container:hover .image {
    opacity: 0.3;
  }
  
  .card-container:hover .middle {
    opacity: 1;
  }
  
 .car-2 .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* slide  */

 .car-3 .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .card-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
 .car-3 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* slide bottom to up */
  .card-container .container {
    position: relative;

  }
  
 .car-4 .card-container .card-img {
    display: block;
    /* width: 100%; */
    height: auto;
    width: 300px;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .car-4 .card-container:hover .overlay1 {
    height: 100%;
  }
  
 .overlay1 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  /* slide left to Right */
.car-5 .card-container {
  position: relative;
 
}

.car-5 .card-container .card-img {
  display: block;
  /* width: 100%; */
  height: auto;
  width: 300px;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: .5s ease;
}

.car-5 .card-container:hover .overlay2 {
  width: 100%;
}

.overlay2 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
  /* slide  Right to left  */
.car-6 .card-container {
  position: relative;
 
}

.car-6 .card-container .card-img {
  display: block;
  /* width: 100%; */
  height: auto;
  width: 300px;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 100%;
  top: 0;
  right: 0%;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.car-6 .card-container:hover .overlay3 {
  width: 100%;
  left: 0;

}

.overlay3 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* zoom  */
.car-7 .card-container {
  position: relative;

}

.car-7 .card-container .card-img {
  display: block;
  width: 300px;
  height: auto;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.car-7 .card-container:hover .overlay4 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.car-7 .card-container .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* title  */
.car-8 .card-container {
  position: relative;


}

 .car-8 .card-container .card-img {
  display: block;
  width: 300px;
  height: auto;
}

.overlay5 {
  position: absolute; 
  bottom: 0; 
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.car-8 .card-container:hover .overlay5 {
  opacity: 1;
}
.overlay5 .text{
  color: white;
}

/* icon  */
.car-9 .card-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.card-img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.car-9 .card-container:hover .overlay6 {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}